<div class="container">
    <h5>Explore our collection of engaging videos and tutorials!</h5>

    <div class="youtube-page-container">
        <div class="video-container">
            <iframe width="100%" height="300px"
                src="https://www.youtube.com/embed/8x3k4WOTMT0?list=PLFFgYDEgGOJCsLLN70RpwVPmmnE_Vtopc" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="youtube-links">
            <h2>More videos for you</h2>
            <ul>
                <li><a
                        href="https://www.youtube.com/playlist?list=PLFFgYDEgGOJDMUThSqYpjRPIB1adV8_SG" target="_blank">Toxicology
                        Audios</a></li>
                <li><a
                    href="https://youtube.com/playlist?list=PLFFgYDEgGOJCNbiATTQT34vGTB33fDcyH&si=FXQhYD9hHUj7ylkG" target="_blank">Forensic
                        Video</a></li>
                <li><a
                    href="https://youtube.com/playlist?list=PLFFgYDEgGOJAI47yRlogO-WzHDqbFaNIS&si=PnllsQGS-k4qGUZx" target="_blank">Toxicology
                        Video </a></li>
                <li><a href="https://youtu.be/hOtSsYfoVRA?si=MyH3XWsfC8BgxygT">Corrosives
                    </a></li>
                <li><a href="https://youtu.be/_wdMjcFOK9U?si=fAkDTFRt8hzhRKv8" target="_blank">Infanticide
                    </a></li>
                <li><a href="https://youtu.be/ykn4bHEPDQM?si=vo9ofobAeps9-vBH" target="_blank">Volatiles
                    </a></li>
                <li><a href="https://youtu.be/Lv_3lUAzW18?si=m4eHWnugQLQFqxcW" target="_blank">Sexual assault
                    </a></li>
                <li><a href="https://youtu.be/KjGmx01Cydc?si=gcWKQcUWpe1m_te-" target="_blank">Asphyxia
                    </a></li>

            </ul>
        </div>
    </div>
</div>